# Base16 {{scheme-name}} - micro color scheme
# Scheme by {{scheme-author}}

color-link default "#{{base05-hex}},#{{base00-hex}}"

color-link comment "#{{base03-hex}}"

color-link constant "#{{base09-hex}}"
color-link constant.specialChar "#{{base0F-hex}}"
color-link constant.string "#{{base0B-hex}}"

color-link identifier "#{{base08-hex}}"
color-link identifier.class "#{{base0A-hex}}"

color-link preproc "#{{base0A-hex}}"

color-link special "#{{base0C-hex}}"

color-link statement "#{{base08-hex}}"

color-link symbol.operator "#{{base05-hex}}"
color-link symbol.tag "#{{base05-hex}}"

color-link type "#{{base0A-hex}}"

color-link underlined "#{{base08-hex}}"

color-link error "bold #{{base00-hex}},#{{base08-hex}}"
color-link todo "bold #{{base0A-hex}},#{{base01-hex}}"
color-link hlsearch "#{{base01-hex}},#{{base0A-hex}}"
color-link statusline "#{{base04-hex}},#{{base02-hex}}"
color-link tabbar "#{{base03-hex}},#{{base01-hex}}"
color-link indent-char "#{{base03-hex}}"
color-link line-number "#{{base03-hex}},#{{base01-hex}}"
color-link current-line-number "#{{base04-hex}},#{{base01-hex}}"

color-link diff-added "#{{base0B-hex}},#{{base01-hex}}"
color-link diff-modified "#{{base03-hex}},#{{base01-hex}}"
color-link diff-deleted "#{{base08-hex}},#{{base01-hex}}"
color-link gutter-error "#{{base08-hex}},#{{base01-hex}}"
color-link gutter-warning "#{{base0D-hex}},#{{base01-hex}}"

color-link cursor-line "#{{base01-hex}}"
color-link color-column "#{{base01-hex}}"
